*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#app{
    width: 200px;
    margin: auto;
}

.loading{
    display: flex;
    align-items: center;
}
.loading i{
    font-size: 40px;

}
.loading i{
  
    animation:spin 0.5s linear infinite;

}

@keyframes spin { 

    100% { 
        transform:rotate(360deg);
    } 

}